   
<section class="slider__area-2 d-flex align-items-center p-relative slider-overlay"  style="background-image: url(assets/images/port10.jpg); height: 800px; background-repeat: no-repeat; background-size: cover; background-position: center center;  ">


        
           
    <div class="container d-flex justify-content-center align-items-center">
        
        <div class="row">
            <div class="col-xl-12">
              
                <div class="slider-content text-center ">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="logo">
                            <img [@slideInDown] class="Company-logo " src="assets/images/logo.png" alt="">
                        </div>
                    </div>
                    <!-- <h2 class="LLC" [@slideInDown]> Welcome to Axcel Sea Shipping Company LLC</h2> -->
                    <p [@slideInDown]>EFFICIENCY | PRODUCTIVITY | SPEED OF EXECUTION</p>
                    <h1 class="title" [@slideInUp]>Global Leaders in Shipping 
                       <br> & <br>
                        Logistics</h1>
                    
                </div>
            </div>
        </div>
    </div>
</section>
